
Table {
  width: 500px;
  height: 400px; }

td {
    background: lightgreen; }

tr {
    border: 1px solid yellow; }
 
.secondTable td
{
	background: yellow;
}

.secondTable tr
{
	border: 1px solid yellow;
}
